
h1{
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  padding-top: 10px;
  margin-bottom: -20px;
  position: relative;
  margin-top: 50px;
}

p{
  margin-top: 35px;
}

body {
font-family: 'Courier New', Courier, monospace; 
background-color: #e8c6cd;
margin: 0;
padding-left: 40px; 
padding-right: 40px; 
}

h2 {
  margin-top: 30px;
}

h4{
color:#930775;
font-style: italic;
}

h3{
color:#700058;
}

* {
box-sizing: border-box;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -50px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
}

.column {
flex: 1 1 calc(25% - 30px); 
margin: 15px; 
box-sizing: border-box; 
}


.visualizations ul {
  display: flex; 
  justify-content: space-around; 
  list-style-type: none; 
  padding: 0; 
}

.visualizations img {
  width: 200px; 
  height: auto; 
}

a {
  color: #000000; 
}

a:visited {
  color: #07310f; 
}

a:hover {
  color: #662667; 
}

@media (max-width: 900px) {
  .row {
      grid-template-columns: repeat(2, 1fr); 
  }
  .visualizations {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .row {
      grid-template-columns: 1fr; 
  }
  .visualizations {
    grid-template-columns: 1fr; 
  }
}